vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Our Settings
config/database.php
config/app.php
public/temp/
public/upload/
public/uploads/
public/error_log
*.jpeg
/config/filesystems.php
public/config/auth.php
public/config/app.php
public/config/broadcasting.php
public/config/cache.php
public/config/database.php
public/config/filesystems.php
public/config/mail.php
public/config/queue.php
public/config/services.php
public/config/session.php
public/config/view.php
routes/bootstrap/app.php
routes/bootstrap/autoload.php
