.main {
	width: 1315px;
	font-size: 16px;
	display:table;
	margin-left:auto;
	margin-right:auto;
}

.helpers {
	width: 1170px;
	padding-bottom: 35px;
}

.helper-left {
	float:left;
}
.helper-right {
	float:right;
}

a {
	text-decoration: none;
	color: #0d46a5;
}

.left {
	float:left;
}
.left-block {
	width: 253px;
	height: 1010px;
	background: #f3f3f3;
}

.left-content {
	padding-top: 20px;
	padding-left: 14px;	
	padding-right: 20px;
}

.photo-add {
	float: left;
	border: 1px solid #bbbbbb;
	width: 108px;
	height: 95px;
	background: #ffffff;
	font-size: 11px;
	text-align: center;
}

.global {
	padding-top:51px;
}

.photo-add p {
	padding-top: 23px;
}
.test {
	float:left;
	line-height: 22px;
}
.left-text {
	padding-left: 120px;
	padding-top: 22px;
}

.permission-text {
	line-height: 22px;
}
.f1 {
	margin-bottom: 4px;
}

hr {
	margin-top: 12px;
	margin-bottom: 4px;
	color: #ababab;
}

.checkboxes {
	padding-top:7px;
	margin-left:auto;
	margin-rightauto;
}

.tags {
	display:table;
	text-align:left;
}

.tags .item {
	margin-bottom:5px;
	width: 103px;
	float: left;
}

.info {
	margin-top:5px;
}

.text-enable {
	line-height:20px;
}

.text-choose {
	line-height:22px;
}
select {
	padding-left: 9px;
	width: 217px;
	height:36px;
	background: #f3f3f3;
    border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.left-block-small {
	width:253px;
	height: 56px;
	background: #f3f3f3;
	margin-top: 14px;
	text-align:center;
}

.question {
	padding-top:22px;
}

.center-block {
	float:left;
}

.article-new {
	width:894px;
	height:55px;
	background: #0d46a5;
	margin-left:21px;
	font-size:24px;
	color: #ffffff;
	margin-bottom:3px;
}
.article-new .text{
	padding-top:14px;
	padding-left: 16px;
}

.create-flipcard {
	width:894px;
	height: auto;
	background: #f3f3f3;
	margin-left:21px;
	padding-top:16px;
}

.photo-add-flip {
	float:left;
	margin-left: 21px;
	border: 1px solid #bbbbbb;
	width: 138px;
	height: 137px;
	background: #ffffff;
	font-size: 11px;
	text-align: center;
}

.photo-add-flip-text {
	padding-top: 55px;
}

.input-card-title {
	float:left;
	background: #f3f3f3;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	width:695px;
	height: 36px;
	margin-left:9px;
	padding-left: 10px;
}

.input-card-description {
	float:left;
	background: #f3f3f3;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	width:693px;
	height: 80px;
	margin-left:9px;
	margin-top:5px;
	padding-left: 10px;
	padding-top: 12px;
}

.input-card-item {
	float:left;
	background: #f3f3f3;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	width:726px;
	height: 66px;
	margin-left:19px;
	margin-top:24px;
	padding-left: 16px;
}

.set-number {
	width:91px;
	height:89px;
	background: #0d46a5;
	margin-top: 24px;
	margin-left: 21px;
	float:left;
	text-align:center;
	color: #ffffff;
	font-size: 24px;
	border: 1px solid #bbbbbb;
}

.number-id {
	padding-top:33px;
}


.form-set-card {
	cursor:pointer;
	position:relative;
	float: left;
	width:853px;
	height: 350px;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	margin-top: 18px;
	margin-left: 21px;
	-webkit-perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    transition: all 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
}

.card-one,
.card-two {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.card-two {
    -webkit-transform: rotateY(180deg);
    width: 100%;
    display: table-cell;
}

.form-set-card button {
	width: 853px;
	height:350px;
	background:white;
	border: 0 none;
	font-size: 36px;
}

.set-front-card {
	width: 853px;
	height:349px;
}

.set-back-card {
	width: 853px;
	height:350px;
}

.button-add-card {
	width: 853px;
	height: 60px;
	background: #00c300;
	color: #ffffff;
	border-radius: 5px;
	margin-left: 21px;
	margin-top: 19px;
	border: 0 none;
	margin-bottom: 35px;
}


.create-flipcard-footer {
	margin-left:21px;
	margin-top:48px;
}

.textarea-footer {
	margin-top:18px;
	width: 875px;
	height: 93px;
	padding-left:13px;
	padding-top:16px;
}

.buttons-save {
	margin-left: 508px;
}

.buttons-save button{
	width: 120px;
	height: 54px;
	border: 0 none;
	border-radius: 3px;
	color: #ffffff;
	margin-top: 29px;
}

.button-preview {
	background: #b1b1b1;
}

.button-sdraft {
	margin-left: 16px;
	background: #144887;
}

.button-publish {
	margin-left: 16px;
	background: #00c300;
}

textarea {
	resize: none;
}

.right-block {
	float:left;
	margin-left: 13px;
	margin-top: 346px;
	-webkit-margin-before: 348px;
}

.front-card-button {
	display:block;
	width: 126px;
	height:126px;
	border: 1px solid #bbbbbb;
	background: #ffffff;
}

.back-card-button {
	display: block;
	width: 126px;
	height:126px;
	border: 1px solid #bbbbbb;
	background: #ffffff;
	margin-top: 13px;
	margin-bottom: 219px;
}

.textarea-front-card {
	padding-right: 100px;
	margin-top:102px;
	-webkit-margin-before: 117px;
	border: 3px dashed #999;
	background: #f3f3f3;
	outline: none;
	font-size:20px;
}

.text-front-card {
	-webkit-user-select: none;
	text-align:center;
	padding-top: 135px;
	font-size: 36px;
}

button {
	cursor:pointer;
}

.block-answer {
	float:left;
	margin-left: 21px;
	margin-top: 10px;
	margin-bottom: 10px;
	width:853px;
}

.answer {
	text-align:center;
	border: 1px solid #bbbbbb;
	float:left;
	width:200px;
	height: 80px;
	background: #f3f3f3;
	margin-right: 11px;
}

.textarea-answer {
	margin-top:6px;
	-webkit-margin-before: 15px;
	border: 3px dashed #999;
	background: #f3f3f3;
	outline:none;
}

.label-text {
	font-size:12px;
	color: #666;
	-webkit-box-sizing: content-box;
	float:left;
}

.add-answer {
	float:left;
	width: 111px;
	height: 40px;
	border: 0 none;
	color: #ffffff;
	background: #144887;
	margin-left: 21px;
	border-radius: 3px;
}

.form-style {
	float:left;
}

.block-type {
	float:left;
	margin-left: 21px;
	margin-top: 10px;
}

.block-type img {
	width: 25px;
	height:17px;
	margin-right: 5px;
	border: 1px solid #d3d3d3;
    padding: 5px 5px 5px 5px;
	cursor:pointer;
}
.answer-img-add {
	margin-left:26px;
	margin-top:10px;
	background-color: #d3d3d3;
	width:150px;
	height:150px;
	font-weight: bold;
    text-shadow: 0 1px 0 white;
    font-size: 12px;
	border: 0 none;
}