.body-channel {
	background-color: #f1f4fa;
}

.body-channel button{
	border: 0;
	color: #fff;
	outline: none;
}

.body-channel .cover-bg {
	width: 100%;
	height: 313px;
	margin-bottom: 39px;
	background-image: url(/img/cover-bg.png);
}

.body-channel .channel-posts {
	float:left;
	width: 750px;
	height: 100%;
	margin-left: 230px;
}

.body-channel .channel-posts .show-more {
	width: 206px;
	height: 46px;
	display: block;
	margin-top: 19px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	background-color: #00c200;
	font-weight: 600;
}

.body-channel .right-block {
	float:left;
	margin-left: 30px;
}

.channel-posts .post {
	float:left;
	width: 748px;
	height: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #c9d5eb;
	background-color: #ffffff;
	padding: 31px 0 16px 20px;
}

.channel-posts .post h1 {
	text-align: center;
	color: #7895cd;
}

.channel-posts .post .post-left {
	float: left;
}

.channel-posts .post .post-right {
	float: left;
	width: 490px;
	margin-left: 22px;
}

.channel-posts .post .post-left .date {
	margin-top: 15px;
	font-size: 14px;
	font-weight: 600;
}

.channel-posts .post .post-left .photo img {
	width: 200px;
	height: 160px;
}

.channel-posts .post .post-right .title {
	color: #6e8dc9;
	font-size: 21px;
	font-weight: 600;
}

.channel-posts .post .post-right .description {
	margin-top: 10px;
	font-size: 16px;
}

.channel-posts .post .post-right .share {
	margin-top: 33px;
	font-weight: 600;
}
.channel-posts .post .post-right .share a{
	display: inline;
}

.channel-posts .post .post-right .share-buttons button {
	background-color: #fff;
	margin-top: 15px;
	margin-right: 6px;
	border-radius: 50%;
}

.channel-posts .post .post-right .share-buttons .btn-share {
	margin-right: 10px;
}

.channel-posts .post .post-right .share-buttons .get-link{
	width: 87px;
	height: 36px;
	background-color: #00c200;
	font-weight: 600;
	border-radius: 3px;
}

.right-block .profile {
	width: 357px;
	height: auto;
	background-color: #ffffff;
	border: 1px solid #c9d5eb;
	border-radius: 5px;
}

.profile .information .avatar img{
	width: 150px;
	height: 150px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #c9d5eb;
	border-radius: 50%; 
}

.profile .information .name {
	margin-top: 8px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}

.profile .information .subscribers {
	text-align: center;
	margin-top: 14px;
	color: #7895cd;
}

.profile .information .description {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 25px;
}

.profile .information .social-subscribe {
	margin-top: 31px;
	text-align: center;
}
.profile .information .social-subscribe button {
	background-color: #fff;
	margin-right: 6px;
	border-radius: 50%;
}
.profile .information .subscribe-me {
	width: 206px;
	height: 46px;
	border-radius: 3px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 39px;
	background-color: #00c200;
	font-weight: 600;
}

.right-block .filter {
	width: 357px;
	height: 190px;
	margin-top: 10px;
	background-color: #ffffff;
	border: 1px solid #c9d5eb;
	border-radius: 5px;
	padding: 19px 29px 20px  29px;
}

.right-block .filter .title {
	color: #7895cd;
	margin-bottom: 10px;
}

.right-block .filter .cards-left {
	float:left;
	margin-bottom: 11px;
}

.right-block .filter .cards-right {
	float:left;
	margin-bottom: 11px;
}

.right-block .filter .cards-left .item{
	margin-top: 6px;
}

.right-block .filter .cards-right .item{
	margin-left: 80px;
	margin-top: 6px;
}

.right-block .filter .run-filter {
	width: 206px;
	height: 30px;
	border-radius: 4px;
	background-color: #6e8dc9;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600;
}

.right-block .filter label {
	font-weight: 500;
}



/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 20px; height: 20px;
  border: 2px solid #d3ddef;
  background: #fff;
  border-radius: 4px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #6e8dc9;;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,