.btn {
	cursor: pointer;
	*zoom: 1;
	*display: inline;
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-size: 20px;
	font-family: Arial;
	border-radius: 4px;
	vertical-align: middle;
}
	.btn_browse {
		border: 1px solid rgba(0,0,0,.2);
		padding: 8px 15px;
		background-color: #99afd9;
		background: -moz-linear-gradient(top,#99afd9 0%,#99afd9);
		background: -webkit-gradient(linear, left top, left bottom,from(#99afd9),to(#99afd9));
		box-shadow: 0 1px 1px rgba(255,255,255,.5);
		color: #fff;
	}
		.btn_browse_small {
			padding: 5px 10px;
			font-size: 16px;
		}

		.btn_browse_small[aria-disabled] {
			opacity: .5;
		}

	.btn_choose {
		color: #fff;
		border: 2px solid rgba(255,255,255,.4);
		padding: 5px 10px;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		background-color: rgba(0,0,0,.4);
		*background-color: #aaa;
	}

	.btn__inp {
		top: -10px;
		right: -10px;
		cursor: pointer;
		filter: alpha(opacity=0);
		opacity: 0;
		font-size: 50px;
		position: absolute;
	}

	.btn__progress {
		top: 0;
		left: 0;
		height: 100%;
		opacity: .5;
		position: absolute;
		background-color: #f60;
	}


.userpic {
	width: 200px;
	height: 200px;
	border: 2px solid rgba(0,0,0,.3);
	display: inline-block;
	position: relative;
}
	.userpic .btn {
		margin-top: 150px;
	}

	.userpic__preview {
		position: absolute;
	}


.b-upload {
	white-space: nowrap;
}
	.b-upload__name,
	.b-upload__size {
		display: inline-block;
		position: relative;
		overflow: hidden;
		max-width: 150px;
		vertical-align: middle;
	}
		.b-upload__size {
			color: #666;
			font-size: 12px;
		}

	.b-upload .js-files:after {
		clear: both;
		content: '';
		display: block;
	}

	.b-upload__dnd {
		padding: 30px;
		border-radius: 5px;
		margin-bottom: 10px;
		background-color: rgba(0,0,0,.1);
	}
		.b-upload__dnd_hover {
			color: #fff;
			background-color: orange;
		}



.themodal-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100000;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.lock {
	overflow: hidden;
}

.popup {
	margin: 25px;
	float: left;
	display: inline-block;
	box-shadow: 0 0 5px #000;
	background-color: #fff;
}
	.popup__body {
		margin: 0px 0px 0px;
	}


.photo {
	cursor:pointer;
}

.add_fb_img {
	cursor:pointer;
}

.add_text {
	cursor:pointer;
}

.add_image {
	cursor:pointer;
}

.modal-test {
	background:#f1f4fa;
	width:750px;
	height: 674px;
	border-radius: 5px;
	border: 2px solid #8898b6;
	margin-top:91px;
	
}

.modal-text-photo {
	color:#000000;
	font-size:30px;
	margin-top:29px;
	margin-bottom: 33px;
}

.modal-upload-column{
	background: #ffffff;
	width:710px;
	height:440px;
	border-radius: 5px;
	border: 3px dashed #99afd9;
	margin-left:18px;
}

.modal-upload-column p{
	margin-top:41px;
	font-size: 20px;
	color:#000000;
}

.select-file {
	margin-left:310px;
	margin-top:31px;
	height:158px;
}

input[type='file'] {
	width:90px;
	height:90px;
	opacity: 0;
	position:relative;
	top:-90px;
	bottom:-90px;
}

.modal-file-icon {
	background-image: url(/img/add_image.png);
	background-repeat: no-repeat;
	width:90px;
	height:90px;
	position:relative;
}

.modal-upload-url input{
	height:60px;
	width:606px;
	border: 2px solid #b7c3d9;
	color: #99afd9;
	font-size:18px;
	padding-left:16px;
	border-radius:5px;
	margin-left:8px;
	position:relative;
}

.modal-upload-url button {
	font-size:18px;
	width:79px;
	height:58px;
	background: #99afd9;
	color:#ffffff;
	border: 0 none;
	border-radius: 0 5px 5px 0;
	position:absolute;
	margin-left:-79px;
}

.popup {
	width:1000px;
	text-align:center;
	background: #f1f4fa;
	border: 2px solid #8898b6;
	border-radius:5px;
	width:750px;
	height:auto;
}

.jcrop-holder {
	margin-left:auto;
	margin-right:auto;
}

.modal-upload-column-img{
	background: #ffffff;
	width:710px;
	height:440px;
	border-radius: 5px;
	border: 3px dashed #99afd9;
	margin-left:18px;
	height:auto;
}

.img-credentials input[type="text"]{
	width:706px;
	height:60px;
	margin-top:28px;
	border: 2px solid #b7c3d9;
	font-size:18px;
	padding-left:16px;
	border-radius:5px;
}

.btn_browse {
	margin-top:18px;
	margin-bottom:22px;
	border: 0 none;
	width:110px;
}
.btn_browse:hover {
	color:#fff;
}

.main-photo{
	width: 198px;
	height: 155px;
}

.facebook-photo {
	width: 127px;
	height: 101px;
}

.editor{
	position:relative;
	width:750px;
	height: 440px;
	background: #ffffff;
	-webkit-perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    transition: all 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
}

.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
	background: #fff;
    -webkit-backface-visibility: hidden;
}

.back-card {
    -webkit-transform: rotateY(180deg);
    width: 100%;
    display: table-cell;
}

.image-card {
	width:748px;
	height: 438px;
	border-radius: 8px;
}

.item-title-input {
	background-color: #fff;
    border-radius: 3px;
    border: 2px solid #afc0e1;
    width: 748px;
    height: 36px;
    padding-left: 19px;
    letter-spacing: .9px;
	margin-top: 20px;
    margin-bottom: 20px;
}

.modal-alert {
	margin-top:15%;
	background: #ffffff;
	width: 560px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	border-radius:8px;
	border: 2px solid #9dacca;
	font-size:18px;
}

.warning-text {
	font-size:18px;
	color:#f54949;
	text-align:center;
	margin-top:30px;
	margin-bottom:25px;
}

.textarea-add-text {
	width:716px;
	height:380px;
	background: #009cff;
	color: #fff;
	font-size:35px;
	text-align:center;
	border: 3px dashed white;
	margin-left:15px;
	margin-top:15px;
	padding-top:150px;
	resize:none;
}

.textarea-add-text::-webkit-input-placeholder {  color: #fff;}

.delete_icon_button {
	position:absolute;
	background-color: rgba(37,37,37,.5);
	width:42px;
	height:40px;
	border-radius: 5px;
	cursor:pointer;
	padding: 7px 0px 7px 10px;
	right:22px;
	top:20px;
}

.set-background-buttons {
	bottom:10px;
	position:absolute;
	width:150px;
	right:0;
}

.set-background-buttons .item-color {
	position:relative;
	width:23px;
	height:23px;
	cursor:pointer;
	float:left;
	border: 1px solid white;
	margin-right:10px;
}
.warning-text-other {
	text-align:center;
	margin-bottom:20px;
}

#nickname-button{
	background-color:#123880;
	color: white;
	border: 0 none;
	outline:none;
	margin-top:27px;
	margin-right:20px;
	font-family: 'Leto Medium';
    font-size: 16px;
}

.preview-modal {
	width:944px;
	height:900px;
	background-color:#ffffff;
	margin-top:20px;
	border-radius:8px;
	border: 3px solid #9dacca;
	overflow: auto;
}

.main-preview .title {
	text-align:center;
	font-size:26px;
	margin-top:40px;
}

.main-preview .flipcard_main {
	width:750px;
	height:auto;
	background-color:#f1f4fa;
	border-radius:8px;
	border: 1px solid #c2d0e9;
	margin-top:40px;
	margin-left:96px;
	float:left;
}

.flipcard_main .flipcard_main_all {
	margin-left:21px;
	margin-top:13px;
}

.flipcard_main_all .flipcard_main_title {
	font-size:22px;
	color: #6e8dc9;
}

.flipcard_main_all  .flipcard_main_tags {
	margin-top:21px;
	font-size:14px;
}

.flipcard_main_all  .flipcard_main_tags b {
	color: #6e8dc9;
	font-weight: 200;
}


.flipcard_main_all .flipcard_main_author {
	margin-top:13px;
	margin-bottom:12px;
	float:left;	
}

.flipcard_main_all .flipcard_main_author img {
	float:left;
}

.flipcard_main_author .flipcard_main_author_by {
	margin-left:21px;
	float:left;
}

.flipcard_main_author .flipcard_main_author_by b{
	color:#7794cc;
}

.flipcard_main_all .flipcard_main_description {
	font-size:16px;
	color: #000000;
	margin-top:4px;
	font-weight:bold;
}

.main-preview .flipcard_main_cards {
	margin-top:53px;
	margin-left:96px;
	float:left;
}

.flipcard_main_cards .flipcard_item_title {
	margin-left:23px;
	margin-bottom:11px;
	color: #6e8dc9;
	font-size:22px;
}

.main-preview .flipcard_main_footer {
	margin-left:115px;
	margin-top:32px;
	font-weight: bold;
	float:left;
	color:#111111;
	font-size:16px;
	width:715px;
}

.flipcard_main_cards .flipcard_main_wrap {
	width:750px;
	height:440px;
	border-radius:8px;
	background-color:#fbfbfb;
	border: 1px solid #b6c6e4;
	position:relative;
	-webkit-perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    transition: all 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
}

.flipcard_main_front,
.flipcard_main_back {
    position: absolute;
    width: 100%;
    height: 100%;
	background-color:#fbfbfb;
    -webkit-backface-visibility: hidden;
	border-radius:8px;
	white-space: pre-line;
}

.flipcard_main_back {
    -webkit-transform: rotateY(180deg);
    width: 100%;
    display: table-cell;
}

.flipcard_main_text {
	font-size:30px;
	color:#fff;
	text-align:center;
	margin-top: 175px;
	width:710px;
	height:200px;
}

.main-preview .flipcard_main_buttons button {
	width:206px;
	height:46px;
	font-size:16px;
	border-radius: 2px;
	border: 0 none;
	color: #fff;
	margin-top:42px;
	margin-bottom:39px;
	font-weight:bold;
}

.flipcard_main_buttons .btn-save {
	background-color: #123880;
	margin-left:254px;
}

.flipcard_main_buttons .btn-publish {
	background-color: #00c200;
	margin-left:21px;
}

.success-save {
	font-size:35px;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}