.btn {
	cursor: pointer;
	*zoom: 1;
	*display: inline;
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-size: 20px;
	font-family: Arial;
	border-radius: 4px;
	vertical-align: middle;
}
	.btn_browse {
		border: 1px solid rgba(0,0,0,.2);
		padding: 8px 15px;
		background-color: #99afd9;
		background: -moz-linear-gradient(top,#99afd9 0%,#99afd9);
		background: -webkit-gradient(linear, left top, left bottom,from(#99afd9),to(#99afd9));
		box-shadow: 0 1px 1px rgba(255,255,255,.5);
		color: #fff;
	}
		.btn_browse_small {
			padding: 5px 10px;
			font-size: 16px;
		}

		.btn_browse_small[aria-disabled] {
			opacity: .5;
		}

	.btn_choose {
		color: #fff;
		border: 2px solid rgba(255,255,255,.4);
		padding: 5px 10px;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		background-color: rgba(0,0,0,.4);
		*background-color: #aaa;
	}

	.btn__inp {
		top: -10px;
		right: -10px;
		cursor: pointer;
		filter: alpha(opacity=0);
		opacity: 0;
		font-size: 50px;
		position: absolute;
	}

	.btn__progress {
		top: 0;
		left: 0;
		height: 100%;
		opacity: .5;
		position: absolute;
		background-color: #f60;
	}


.userpic {
	width: 200px;
	height: 200px;
	border: 2px solid rgba(0,0,0,.3);
	display: inline-block;
	position: relative;
}
	.userpic .btn {
		margin-top: 150px;
	}

	.userpic__preview {
		position: absolute;
	}


.b-upload {
	white-space: nowrap;
}
	.b-upload__name,
	.b-upload__size {
		display: inline-block;
		position: relative;
		overflow: hidden;
		max-width: 150px;
		vertical-align: middle;
	}
		.b-upload__size {
			color: #666;
			font-size: 12px;
		}

	.b-upload .js-files:after {
		clear: both;
		content: '';
		display: block;
	}

	.b-upload__dnd {
		padding: 30px;
		border-radius: 5px;
		margin-bottom: 10px;
		background-color: rgba(0,0,0,.1);
	}
		.b-upload__dnd_hover {
			color: #fff;
			background-color: orange;
		}



.themodal-overlay {
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100000;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.lock {
	overflow: hidden;
}

.popup {
	margin: 25px;
	float: left;
	display: inline-block;
	box-shadow: 0 0 5px #000;
	background-color: #fff;
}
	.popup__body {
		margin: 0px 0px 0px;
	}


.photo {
	cursor:pointer;
}

.add_fb_img {
	cursor:pointer;
}

.add_text {
	cursor:pointer;
}

.add_image {
	cursor:pointer;
}

.modal-test {
	background:#f1f4fa;
	width:750px;
	height: 674px;
	border-radius: 5px;
	border: 2px solid #8898b6;
	margin-top:91px;
	
}

.modal-text-photo {
	color:#000000;
	font-size:30px;
	margin-top:29px;
	margin-bottom: 33px;
}

// .modal-upload-column{
// 	background: #ffffff;
// 	width:710px;
// 	height:440px;
// 	border-radius: 5px;
// 	border: 3px dashed #99afd9;
// 	margin-left:18px;
// }

.modal-upload-column p{
	margin-top:41px;
	font-size: 20px;
	color:#000000;
}

// .select-file {
// 	margin-left:310px;
// 	margin-top:31px;
// 	height:158px;
// }

// input[type='file'] {
// 	width:90px;
// 	height:90px;
// 	opacity: 0;
// 	position:relative;
// 	top:-90px;
// 	bottom:-90px;
// 	cursor:pointer;
// }

// .modal-file-icon {
// 	background-image: url(/img/add_image.png);
// 	background-repeat: no-repeat;
// 	width:90px;
// 	height:90px;
// 	position:relative;
// }

.modal-upload-url input{
	height:60px;
	width:606px;
	border: 2px solid #b7c3d9;
	color: #99afd9;
	font-size:18px;
	padding-left:16px;
	border-radius:5px;
	margin-left:8px;
	position:relative;
}

.modal-upload-url button {
	font-size:18px;
	width:79px;
	height:58px;
	background: #99afd9;
	color:#ffffff;
	border: 0 none;
	border-radius: 0 5px 5px 0;
	position:absolute;
	margin-left:-79px;
}

.popup {
	width:1000px;
	text-align:center;
	background: #f1f4fa;
	border: 2px solid #8898b6;
	border-radius:5px;
	width:750px;
	height:auto;
}

.jcrop-holder {
	margin-left:auto;
	margin-right:auto;
}

.modal-upload-column-img{
	background: #ffffff;
	width:710px;
	height:440px;
	border-radius: 5px;
	border: 3px dashed #99afd9;
	margin-left:18px;
	height:auto;
}

.img-credentials input[type="text"]{
	width:706px;
	height:60px;
	margin-top:28px;
	border: 2px solid #b7c3d9;
	font-size:18px;
	padding-left:16px;
	border-radius:5px;
}

.btn_browse {
	margin-top:18px;
	margin-bottom:22px;
	border: 0 none;
	width:110px;
}
.btn_browse:hover {
	color:#fff;
}

.main-photo{
	width: 198px;
	height: 155px;
}

.facebook-photo {
	width: 127px;
	height: 101px;
}

.editor{
	position:relative;
	width:750px;
	height: 440px;
	background: #ffffff;
	-webkit-perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    transition: all 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
}

.front-card,
.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
	background: #fff;
    -webkit-backface-visibility: hidden;
}

.back-card {
    -webkit-transform: rotateY(180deg);
    width: 100%;
    display: table-cell;
}

// .image-card {
// 	width:748px;
// 	height: 438px;
// 	border-radius: 8px;
// }

.item-title-input {
	background-color: #fff;
    border-radius: 3px;
    border: 2px solid #afc0e1;
    width: 748px;
    height: 36px;
    padding-left: 19px;
    letter-spacing: .9px;
	margin-top: 20px;
    margin-bottom: 20px;
}

.modal-alert {
	margin-top:15%;
	background: #ffffff;
	width: 560px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	border-radius:8px;
	border: 2px solid #9dacca;
	font-size:18px;
}

.warning-text {
	font-size:18px;
	color:#f54949;
	text-align:center;
	margin-top:30px;
	margin-bottom:25px;
}

.textarea-add-text {
	width:716px;
	height:380px;
	background: #009cff;
	color: #fff;
	font-size:35px;
	text-align:center;
	border: 3px dashed white;
	margin-left:15px;
	margin-top:15px;
	padding-top:150px;
	resize:none;
}

.textarea-add-text::-webkit-input-placeholder {  color: #fff;}

.delete_icon_button {
	position:absolute;
	background-color: rgba(37,37,37,.5);
	width:42px;
	height:40px;
	border-radius: 5px;
	cursor:pointer;
	padding: 7px 0px 7px 10px;
	right:22px;
	top:20px;
}

.set-background-buttons {
	bottom:10px;
	position:absolute;
	width:150px;
	right:0;
}

.set-background-buttons .item-color {
	position:relative;
	width:23px;
	height:23px;
	cursor:pointer;
	float:left;
	border: 1px solid white;
	margin-right:10px;
}
.warning-text-other {
	text-align:center;
	margin-bottom:20px;
}

#nickname-button{
	background-color:#123880;
	color: white;
	border: 0 none;
	outline:none;
	margin-top:27px;
	margin-right:20px;
	font-family: 'Leto Medium';
    font-size: 16px;
}

// .type-caption {
// 	resize:none;
// 	width:490px;
// 	height:101px;
// 	border-radius:3px;
// 	border: 2px solid #b6c6e4;
// 	margin-top:142px;
// 	margin-left:129px;
// 	padding-top:10px;
// 	padding-left:21px;
// 	font-size:16px;
// 	color:#6e8dc9;
// }

// .edit-answers {
// 	border-radius:8px;
// 	border: 1px solid #b6c6e4;
// 	width:750px;
// 	height:auto;
// 	margin-top:9px;
// 	background-color:#f1f4fa;
// 	float:left;
// }

// .edit-answers .add-answer {
// 	float:left;
// }

// .edit-answers .media-answer {
// 	float:left;
// 	width:740px;
// }

// .media-answer .title {
// 	color:#6e8dc9;
// 	font-size:16px;
// 	margin-top:44px;
// 	margin-left: 19px;
// 	float:left;
// }

// .add-answer .answer-photo {
// 	width:201px;
// 	height:159px;
// 	border-radius:2px;
// 	border: 1px solid #b6c6e4;
// 	background:#fff;
// 	text-align:center;
// 	font-size:16px;
// 	padding-top:60px;
// 	cursor:pointer;
// 	display:none;
// }

// .edit-answers .add-answer {
// 	margin-left:19px;
// }

// .add-answer .answer-text textarea{
// 	margin-top:19px;
// 	border: 2px solid #afc0e1;
// 	border-radius: 5px;
// 	width:339px;
// 	height:139px;
// 	resize:none;
// 	padding-top: 23px;
// 	padding-left: 23px;
// 	color:#6e8dc9;
// 	font-size:16px;
// }

::-webkit-input-placeholder {
	color:#6e8dc9;
}

// .edit-questions {
// 	border-radius:8px;
// 	border: 1px solid #b6c6e4;
// 	width:750px;
// 	height:auto;
// 	background-color:#f1f4fa;
// 	margin-top:10px;
// 	float:left;
// }

// .edit-questions .media-questions {
// 	color: #6e8dc9;
// 	margin-top:44px;
// 	margin-left:19px;
// }

// .media-questions {
// 	float:left;
// }
// .button-add-question {
// 	float:left;
// }

// .button-add-question button {
// 	width:207px;
// 	height:61px;
// 	background:#99afd9;
// 	font-size:18px;
// 	color: #fff;
// 	border:0 none;
// 	border-radius:3px;
// 	margin-top:20px;
// 	margin-bottom:19px;
// 	margin-left:293px;
// }

// .edit-quiz-result {
// 	float:left;
// 	border-radius:8px;
// 	border: 1px solid #b6c6e4;
// 	width:750px;
// 	height:auto;
// 	background-color:#f1f4fa;
// 	margin-top:10px;
// 	margin-bottom:30px;
// }


// .left-block-quiz {
// 	float:left;
// }

// .right-block-quiz {
// 	float:left;
// 	margin-top: 32px;
// 	margin-left:39px;
// }

// .edit-quiz-result .left-block-quiz{
// 	margin-left: 19px;
// 	margin-top: 32px;
// }


// .edit-quiz-result .blocks-quiz {
// 	float:left;
// 	height:287px;
// }
// .left-block-quiz .title {
// 	color:#6e8dc9;
// 	font-size:16px;
// 	margin-top:12px;
// }

// .left-block-quiz .description {
// 	font-size:14px;
// 	margin-top:24px;
// }

// .quiz-add-result button {
// 	color: #fff;
// 	background: #99afd9;
// 	border:0 none;
// 	border-radius:3px;
// 	width:207px;
// 	height:61px;
// 	margin-left:19px;
// 	margin-bottom:19px;
// 	display:none;
// 	float:left;
// }

// .right-block-quiz .result-photo {
// 	width:201px;
// 	height:159px;
// 	background:#fff;
// 	border: 1px solid #c9d5eb;
// 	text-align:center;
// 	padding-top: 60px;
// 	cursor:pointer;
// 	float:left;
// }

// .right-block-quiz .result-photo-desc {
// 	width: 110px;
// 	margin-top:64px;
// 	margin-left:21px;
// 	float:left;
// }

// .quiz-title input {
// 	width:339px;
// 	height:39px;
// 	border: 2px solid #afc0e1;
// 	margin-top:19px;
// 	padding-left:26px;
// 	color:#6e8dc9;
// 	margin-bottom:38px;
// }

// .media-answer .buttons-answer {
// 	width:140px;
// 	float:left;
// 	margin-left:374px;
// 	margin-top:20px;
// 	margin-bottom:41px;
// }

// .buttons-answer .btn-text {
// 	border: 0;
//     background-image: url(/img/btn-text.png);
//     background-repeat: no-repeat;
// 	width:60px;
// 	height:60px;
// 	margin-right:10px;
// 	cursor:pointer;
// 	float:left;	
// }

// .buttons-img .modal-url-icon {
// 	border: 0;
//     background-image: url(/img/from-url.png);
//     background-repeat: no-repeat;
// 	width:90px;
// 	height:90px;
// 	cursor:pointer;
// 	margin-left: 100px;
// 	margin-right:100px;
// 	float:left;	
// }

// .buttons-img .modal-youtube-icon {
// 	border: 0;
//     background-image: url(/img/from-youtube.png);
//     background-repeat: no-repeat;
// 	width:90px;
// 	height:90px;
// 	cursor:pointer;
// 	margin-left:14px;
// 	float:left;	
// }

// .choose-upload {
// 	width:751px;
// 	height:676px;
// 	border: 2px solid #97a8c9;
// 	border-radius: 5px;
// 	background-color: #f1f4fa;
// 	margin-top:90px;
// 	text-align:center;
// }

// .modal-upload-column .buttons-img{
// 	margin-top:23px;
// 	margin-left:119px;
// 	width:auto;
// 	height:auto;
// 	font-size:20px;
// }

// .choose-upload  .modal-title {
// 	font-size:30px;
// 	margin-top:30px;
// 	margin-bottom:19px;
// }

// .modal-upload-column .title{
// 	font-size:20px;
// 	margin-top:35px;
// }

// .modal-file-upl {
// 	float:left;
// }

// .modal-text-upl {
// 	height:30px;
// 	margin-top:18px;
// }

// .modal-video-url input{
// 	width:606px;
// 	height:60px;
// 	border-radius:5px;
// 	border: 2px solid #b7c3d9;
// 	color: #99afd9;
// 	font-size:18px;
// 	padding-left:19px;
// 	margin-top:50px;
// 	position:relative;
// }

// .modal-video-url button {
// 	width:160px;
// 	height:57px;
// 	color: #fff;
// 	border: 0 none;
// 	background-color:#99afd9;
// 	border-radius: 0px 5px 5px 0px;
// 	position:absolute;
// 	margin-top:52px;
// 	margin-left:-160px;

// }

// .modal-input-youtube {
// 	width:751px;
// 	height:150px;
// 	background-color: #f1f4fa;
// 	border-radius:5px;
// 	margin-top:90px;
// }

// .modal-image-url input{
// 	width:606px;
// 	height:60px;
// 	border-radius:5px;
// 	border: 2px solid #b7c3d9;
// 	color: #99afd9;
// 	font-size:18px;
// 	padding-left:19px;
// 	margin-top:50px;
// 	position:relative;
// }

// .modal-image-url button {
// 	width:160px;
// 	height:57px;
// 	color: #fff;
// 	border: 0 none;
// 	background-color:#99afd9;
// 	border-radius: 0px 5px 5px 0px;
// 	position:absolute;
// 	margin-top:52px;
// 	margin-left:-160px;

// }

// .modal-input-image {
// 	width:751px;
// 	height:150px;
// 	background-color: #f1f4fa;
// 	border-radius:5px;
// 	margin-top:90px;
// }

// .buttons-answer .btn-img {
// 	border: 0;
//     background-image: url(/img/btn-img.png);
//     background-repeat: no-repeat;
// 	width:60px;
// 	height:60px;
// 	cursor:pointer;
// 	float:left;
// 	background-color:#c2cfe8;
// 	background-position:center;
// }

// .preview-modal {
// 	width:944px;
// 	height:900px;
// 	background-color:#ffffff;
// 	margin-top:20px;
// 	border-radius:8px;
// 	border: 3px solid #9dacca;
// 	overflow: auto;
// }

// .main-preview .title {
// 	text-align:center;
// 	font-size:26px;
// 	margin-top:40px;
// }

// .main-preview .trivia_main {
// 	width:750px;
// 	height:auto;
// 	background-color:#f1f4fa;
// 	border-radius:8px;
// 	border: 1px solid #c2d0e9;
// 	margin-top:40px;
// 	margin-left:96px;
// 	float:left;
// }

// .trivia_main .trivia_main_all {
// 	margin-left:21px;
// 	margin-top:13px;
// }

// .trivia_main_all .trivia_main_title {
// 	font-size:22px;
// 	color: #6e8dc9;
// }

// .trivia_main_all  .trivia_main_tags {
// 	margin-top:21px;
// 	font-size:14px;
// }

// .trivia_main_all  .trivia_main_tags b {
// 	color: #6e8dc9;
// 	font-weight: 200;
// }


// .trivia_main_all .trivia_main_author {
// 	margin-top:13px;
// 	margin-bottom:12px;
// 	float:left;	
// }

// .trivia_main_all .trivia_main_author img {
// 	float:left;
// }

// .trivia_main_author .trivia_main_author_by {
// 	margin-left:21px;
// 	float:left;
// }

// .trivia_main_author .trivia_main_author_by b{
// 	color:#7794cc;
// }

// .trivia_main_all .trivia_main_description {
// 	font-size:16px;
// 	color: #000000;
// 	margin-top:4px;
// 	font-weight:bold;
// }

// .main-preview .trivia_main_cards {
// 	margin-top:53px;
// 	margin-left:96px;
// 	float:left;
// }

// .trivia_main_cards .trivia_item_title {
// 	margin-left:23px;
// 	margin-bottom:11px;
// 	color: #6e8dc9;
// 	font-size:22px;
// }

// .main-preview .trivia_main_footer {
// 	margin-left:115px;
// 	margin-top:32px;
// 	font-weight: bold;
// 	float:left;
// 	color:#111111;
// 	font-size:16px;
// 	width:715px;
// }

// .trivia_main_cards .trivia_main_wrap {
// 	width:750px;
// 	height:440px;
// 	border-radius:8px;
// 	background-color:#fbfbfb;
// 	border: 1px solid #b6c6e4;
// 	position:relative;
// 	-webkit-perspective: 2000px;
//     -webkit-perspective-origin: 50% 50%;
//     transition: all 0s ease-in-out;
//     -webkit-transform-style: preserve-3d;
//     -webkit-transform: rotateY(0deg);
// 	float:left;
// }

// .trivia_main_front,
// .trivia_main_back {
//     position: absolute;
//     width: 100%;
//     height: 100%;
// 	background-color:#fbfbfb;
//     -webkit-backface-visibility: hidden;
// 	border-radius:8px;
// }

// .trivia_main_back {
//     -webkit-transform: rotateY(180deg);
//     width: 100%;
//     display: table-cell;
// }

// .trivia_main_caption {
// 	border-radius:5px;
// 	position:relative;
// 	background-color: rgba(216,244,23,.8);
// 	font-size: 22px;
// 	width: 748px;
// 	height:auto;
// 	padding-left:5px;
// 	font-weight: normal;
// 	font-family: "pbRegular",Helvetica,Arial,sans-serif;
// }

// .trivia_main_front iframe {
// 	width:100%;
// 	height:100%;
// 	position:absolute;
// 	border-radius:5px;
// }

// .trivia_main_back iframe {
// 	width:100%;
// 	height:100%;
// 	position:absolute;
// 	border-radius:5px;
// }

// .trivia_main_answers {
// 	margin-left:96px;
// 	margin-top:2px;
// 	float:left;
// }
// .trivia_main_answers button {
// 	float:left;
// 	margin-left:33px;
// }

// .trivia_main_results {
// 	float:left;
// 	margin-left: 150px;
// 	margin-top: 20px;
// 	border: 1px solid #b6c6e4;
// 	width:630px;
// 	height:340px;
// 	position:relative;
// }
// .trivia_main_results .title {
// 	color: #66b3ad;
// 	font-size:30px;
// 	position:absolute;
// 	top: 0;
// 	width:630px;
// }

// .trivia_main_results .score {
// 	margin-top:20px;
// 	font-size:80px;
// 	text-align:center;
// 	color: #66b3ad;
// 	position:absolute;
// 	bottom: 0;
// 	width:630px;
// }

// .answer-button {
// 	border: 1px solid #bbbbbb;
// 	background-color: #f7f7f7;
// 	margin-right: 18px;
// 	font-size: 20px;
// 	outline: none;
// }

// .answer-button:hover {
// 	background-color: #d8ef3d;
// }

// .answer-button-rep:hover {
// 	background-color: none;
// }

// .wrong-answer {
// 	border: 1px solid #bbbbbb;
// 	margin-right: 18px;
// 	width: 310px;
// 	height: 70px;
// 	font-size: 20px;
// 	outline: none;
// 	background: #d85c5c;
// 	color: #fff;
// }

// .true-answer {
// 	border: 1px solid #bbbbbb;
// 	margin-right: 18px;
// 	font-size: 20px;
// 	outline: none;
// 	background: #71bf44;
// 	color: #fff;
// }

// .answer-button-inactive{
// 	border: 1px solid #bbbbbb;
// 	background-color: #f7f7f7;
// 	margin-right: 18px;
// 	font-size: 20px;
// 	outline: none;
// 	opacity: 0.3;
// }

// .trivia_item_title {
// 	font-size:30px;
// 	color:#fff;
// 	text-align:center;
// 	margin-top: 175px;
// 	width:710px;
// 	height:200px;
// }

// .main-preview .trivia_main_buttons button {
// 	width:206px;
// 	height:46px;
// 	font-size:16px;
// 	border-radius: 2px;
// 	border: 0 none;
// 	color: #fff;
// 	margin-top:42px;
// 	margin-bottom:39px;
// 	font-weight:bold;
// }

// .trivia_main_buttons .btn-save {
// 	background-color: #123880;
// 	margin-left:254px;
// }

// .trivia_main_buttons .btn-publish {
// 	background-color: #00c200;
// 	margin-left:21px;
// }

// .success-save {
// 	font-size:35px;
// 	text-align:center;
// 	margin-top:30px;
// 	margin-bottom:30px;
// }

.modal-alert ul {
	margin-left:20px;
}


.post-title {
	width: 100%;
	height: 36px;
	padding-left: 19px;
	border-radius: 3px;
	border: 2px solid #afc0e1;
	color: #6e8dc9;
	margin-top: 10px;
	margin-bottom: 5px;
}

.add-question {
	width:207px;
	height:61px;
	color:#fff;
	background-color:#99afd9;
	border:0 none;
	border-radius:3px;
	float:right;
	margin-top:5px;
	margin-bottom:5px;
}

.vote {
	float:left;
	margin-right:20px;
}

.vote b {
	line-height:32px;
}

.vote .vote-button {
	border: 0;
    background-image: url(/img/arrow_up.png);
    background-repeat: no-repeat;
	background-size: 15px;
	cursor:pointer;
	float:left;
	background-position:center;
	border-radius:3px;
	width:42px;
	height:41px;
	background-color:#c2d0e9;
}

.vote .vote-button:hover {
	background-color:#6e8dc9;
}
.buttons-video {
	margin-left:140px;
	margin-top:10px;
}
.buttons-video button {
	color: #fff;
	width: 150px;
	height: 30px;
	background-color: #123880;
	border: 0 none;
	border-radius: 3px;
}


video {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 700px;
	height:400px;
	border: 1px solid #99afd9;
	margin-top:5px;
	margin-bottom:10px;
}

.status {
	text-align:center;
	margin-top:10px;
	font-size: 20px;
}

.status #output {
	color: #6e8dc9;
	font-size: 18px;
}

.youtube-clip-block {
	position:relative;
}
.url-youtube-clip {
	width: 350px;
	height: 35px;
	color: #6e8dc9;
	padding-left: 20px;
	border-radius: 5px;
	border: 2px solid #afc0e1;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top: 10px;
	outline:none;
}

.url-youtube-button {
	width: 35px;
	height:35px;
	color: #fff;
	background-color: #123880;
	border: 0 none;
	border-radius: 0 5px 5px 0px;
	position:absolute;
	top:0;
	right:201px;
	outline:none;
	
}

.add-youtube-gif {
	width: 750px;
	height: auto;
	background-color: #f1f4fa;
	border-radius: 5px;
	border: 2px solid #8898b6;
	margin-top: 91px;
}

.add-youtube-gif .create-yb-gif {
	background-color: #99afd9;
	color: #fff;
	width: 80px;
	height: 25px;
	border: 0 none;
	border-radius: 5px;
	margin-top: 10px;
}

.add-youtube-gif .add-to-this {
	background-color: #99afd9;
	color: #fff;
	width: 120px;
	height: 25px;
	border: 0 none;
	border-radius: 5px;
	margin-top: 10px;
}
// .add_plus{border:0;background-image:url(/img/plus-icon.png);background-repeat:no-repeat;width:90px;height:90px;margin-left:329px;margin-top:21px;float:left; cursor:pointer; }
// .front_card_question{background-image:url(/img/question-icon.png);background-position:159px 14px;text-align:left;padding-left:41px;padding-top:5px;letter-spacing:-.5px}
// .back_card_question{background-image:url(/img/result-icon.png);background-position:159px 14px;text-align:left;padding-left:41px;padding-top:5px;letter-spacing:-.5px}

.block-for-select-video {
	width: 750px;
	height: 121px;
	background-color: #f1f4fa;
	border-radius: 8px;
	border: 1px solid #d3ddef;
	margin-top: 10px;
	padding: 20px;
}

.block-for-select-video .title {
	color: #6e8dc9;
	font-size: 16px;
}

.block-for-select-video .block-inputs {
	margin-top: 16px;
	color: #6e8dc9;
	font-size: 16px;
	font-weight: 600;
	position: relative;
}

.block-for-select-video .block-inputs .select-video{
	color: #fff;
	background-color: #123880;
	font-size: 16px;
	font-weight: 600;
	width: 200px;
	height: 46px;
	border: 0;
	border-radius: 5px;
	float: left;
	margin-right: 15px;
	outline: none;
}

.block-for-select-video .block-inputs input {
	float: left;
	margin-left: 12px;
	width: 450px;
	height: 46px;
	border: 2px solid #afc0e1;
	border-radius: 5px;
	padding-left: 17px;
	outline: none;
	padding-right: 115px;
}

.block-for-select-video .block-inputs .youtube-btn-upload {
	width: 100px;
	height: 46px;
	color: #fff;
	background-color: #123880;
	border-radius: 0 5px 5px 0;
	position: absolute;
	border: 0;
	right: 0;
}

.block-video-duration {
	float: left;
	width: 750px;
	height: auto;
	margin-top: 10px;
	background-color: #f1f4fa;
	border-radius: 8px;
	border: 1px solid #d3ddef;
	padding: 10px;
}

.block-video-duration .text-for-duration h5{
	float: left;
}

.block-video-duration .title {
	color: #6e8dc9;
	font-size: 16px;
}

.status-gif {
	font-size: 20px;
	font-weight: 600;
	margin-top: 37px;
	margin-bottom: 17px;	
	text-align: center;
}

.status-gif span {
	color: #00c200;
}

.block-for-giftext {
	float: left;
	margin-top: 10px;
	background-color: #f1f4fa;
	border-radius: 8px;
	border: 1px solid #d3ddef;
	padding-top: 20px;
	padding-left: 20px;
	width: 750px;
	height: 280px;
	padding-bottom: 10px;
}

.block-for-giftext .title {
	color: #6e8dc9;
	font-size: 16px;
}

.block-for-giftext .caption-gif  {
	margin-top: 17px;
}

.block-for-giftext .caption-gif .type-title {
	float: left;
	line-height: 40px;
	font-weight: 400;
	font-size: 16px;
	margin-right: 31px;
}

.block-for-giftext .caption-gif input {
	width: 619px;
	height: 40px;
	border: 1px solid #afc0e1;
	border-radius: 5px;
	padding-left: 20px;
	outline: none;
}

.block-for-giftext .style-gif {
	margin-top: 20px;
}

.block-for-giftext .style-gif .type-title {
	float: left;
	line-height: 40px;
	font-weight: 400;
	font-size: 16px;
	margin-right: 52px;
}

.block-for-giftext .style-gif button{
	width: 194px;
	height: 40px;
	background-color: #fff;
	color: #6e8dc9;
	border-radius: 5px;
	border: 1px solid #afc0e1;
	font-weight: 600;
	font-size: 16px;
	margin-right: 16px;
	outline: none;
}

.block-for-giftext .style-gif > .default {
	font-family: 'nexablack',sans-serif;
}

.block-for-giftext .style-gif > .meme {
	font-family: Impact,sans-serif;
}

.block-for-giftext .style-gif > .subtitle {
	font-family: Arial,sans-serif;
}

.block-for-giftext .style-gif > .current-style {
	color: #fff;
	background-color: #6e8dc9;
}

.block-for-giftext .color-text-gif {
	margin-top: 16px;
	float: left;
}

.block-for-giftext .color-text-gif .type-title {
	float: left;
	line-height: 40px;
	font-weight: 400;
	font-size: 16px;
	margin-right: 47px;
}

.block-for-giftext .color-text-gif button{
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	outline: none;
}


.block-for-giftext .color-text-gif .btn-color-left .red {
	background-color: #ff6666;
}

.block-for-giftext .color-text-gif .btn-color-left .black {
	background-color: #000000;
}


.block-for-giftext .color-text-gif .btn-color-left .white {
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid #afc0e1;
}

.block-for-giftext .color-text-gif .btn-color-left .yellow {
	background-color: #fff35c;
}

.block-for-giftext .color-text-gif .btn-color-right .blue {
	background-color: #00ccff;
}

.block-for-giftext .color-text-gif .btn-color-right .green {
	background-color: #00ff99;
}

.block-for-giftext .color-text-gif .btn-color-right .purple {
	background-color: #9933ff;
}

.block-for-giftext .color-text-gif .btn-color-right .pink {
	background-color: #e646b6;
}	


.block-for-giftext .color-text-gif .btn-color-left {
	float: left;
}

.block-for-giftext .color-text-gif .btn-color-left button{
	margin-right: 8px;
}

.block-for-giftext .color-text-gif .btn-color-right {
	float: left;
	margin-left: 10px;
}

.block-for-giftext .color-text-gif .btn-color-right button {
	margin-right: 8px;
}

.block-for-giftext .color-text-gif .btn-color-right button[data-id="green"] {
	background-color: green;
}

.block-for-giftext .text-style-gif  {
	float:left;
}

.block-for-giftext .text-style-gif .type-title {
	float: left;
	line-height: 50px;
	font-weight: 400;
	font-size: 16px;
	margin-right: 17px;
}

.block-for-giftext .text-style-gif .select{
	margin-left: 5px;
	float: left;
	border-radius: 3px;
	width: 194px;
	height: 30px;
	border: 1px solid #c9d5eb;
	background-image: url(/img/select_arrow.png);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 289px;
	overflow: hidden;
	margin-top: 10px;

}

.block-for-giftext .text-style-gif .select select {
	background-image: url(/img/select_arrow.png);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 164px;
	width: 210px;
	height: 30px;
	border: 0;
}

.nstSlider {
	margin-top: 10px;
	float:left;
	margin-left: 8px;
}

.duration-text {
	float: left;
	width: 100%;
	margin-top: 25px;
	font-weight: 600;
}

.duration-text .text1{
	width: 100px;
	float: left;
	text-align: left;
}

.duration-text .text2{
	width: 528px;
	float: left;
	text-align: center;
}

.duration-text .text3{
	width: 100px;
	float: left;
	text-align: right;
}

.duration-inputs {
	margin-top: 20px;
	float: left;
}

.duration-inputs input{
	width: 54px;
	height: 30px;
	border: 1px solid #c9d5eb;
	border-radius: 3px;
	font-weight: 600;
	text-align: center;
	background-color: #fff;
}

.duration-inputs .duration-input-div1 {
	float: left;
	width: 100px;
	text-align: left;
}

.duration-inputs .duration-input-div2 {
	float: left;
	width: 528px;
	text-align: center;
}

.duration-inputs .duration-input-div3 {
	float: left;
	width: 100px;
	text-align: right;
}

.block-video-duration .iframe-youtube {
	float: left;
}

.iframe-youtube {
	width: 100%;
	margin-top: 10px;
}

.iframe-youtube iframe {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.btn-create-gif {
	float: left;
	width: 100%;
	margin-top:10px;
	display: none;
}

.btn-create-gif button {
	margin-right: auto;
	margin-left: auto;
	display: block;
	color: #fff;
	background-color: #123880;
	width: 120px;
	height: 40px;
	border: 0;
	outline: none;
	border-radius: 5px;
}

.picture-gif {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

#loadImg{
	position:absolute;
	z-index:1000;
	display:none;
}

.editor {
	float: left;
	display: none;
}

.down_butts {
	float: left;
}

.testcreate {
	position: absolute;
	top: 120px;
	left: 250px;
	opacity: 0.7;
}

.txt-or {
	float: left;
	line-height: 45px;
}

.yb-clip-upl {
	width: 450px;
	height: 46px;
	float: left;
}