.video_to_gif h1 {
	color: #6e8dc9;
	font-size: 30px;
	font-weight: 600;
	text-align:center;
}

.video_to_gif button {
	color: #fff;
	width: 150px;
	height: 30px;
	background-color: #123880;
	border: 0 none;
	border-radius: 3px;
}

.video_to_gif .button-for-video {
	margin-left:720px;
}

.button-for-video .select-file {
	margin-left: 154px;
}


.video_to_gif .status {
	text-align:center;
	margin-top:10px;
	font-size: 20px;
}

.status #output {
	color: #6e8dc9;
	font-size: 18px;
}
video {
	display:block;
	border: 1px dashed #99afd9;
	width: 750px;
    height: 440px;
    border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

.video_to_gif .result-gif {
	display:block;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #99afd9;
	border-radius:3px;
	width: 300px;
	height:250px;
}