.wraper {
    position: relative;
    width: 640px !important;
    height: 480px;
    -webkit-perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    transition: all 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    margin-bottom: 35px;
}

.wrap2 {
    position: relative;
    width: 640px;
    height: 480px;
    -webkit-perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    transition: all 0s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    margin-bottom: 5px;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccc;
    -webkit-backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY(180deg);
    width: 100%;
    line-height: 38px;
    display: table-cell;
}

.front iframe {
	width: 100%;
	height:100%;
}

.back iframe {
	width: 100%;
	height:100%;
}

.set-number {
	width: 60px;
	height: 60px;
	background-color: rgba(12,19,28,.55);
	font-size: 28px;
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-family: "pbSemiBold",Arial,Helvetica,sans-serif;
	float:left;
	margin-top:10px;
}

.title {
	width:900px;
	font-size: 37px;
	line-height: 38px;
	margin-bottom: 0;
	margin-top: -6px;
	color: #333;
	font-weight: normal;
	font-family: "pbRegular",Helvetica,Arial,sans-serif;
}

.post {
	margin-top: 25px;
	margin-left: 25px;
}

.item_title {
	line-height: 50px;
	padding-bottom:0px;
	margin-left:70px;
	font-weight: normal;
	font-family: "pbRegular",Helvetica,Arial,sans-serif;
	font-size: 20px;
}

.footer {
	color: #333;
	font-size: 30px;
}

.text-image {
	position:relative;
	background-color: rgba(216,244,23,.8);
	font-size: 22px;
	width: 640px;
	padding: 9px 20px;
	font-weight: normal;
	font-family: "pbRegular",Helvetica,Arial,sans-serif;
}

.answer-button {
	border: 1px solid #bbbbbb;
	background-color: #f7f7f7;
	margin-right: 18px;
	font-size: 20px;
	outline: none;
}

.answer-button:hover {
	background-color: #d8ef3d;
}

.answer-button-rep:hover {
	background-color: none;
}

.wrong-answer {
	border: 1px solid #bbbbbb;
	margin-right: 18px;
	width: 310px;
	height: 70px;
	font-size: 20px;
	outline: none;
	background: #d85c5c;
	color: #fff;
}

.true-answer {
	border: 1px solid #bbbbbb;
	margin-right: 18px;
	font-size: 20px;
	outline: none;
	background: #71bf44;
	color: #fff;
}

.answer-button-inactive{
	border: 1px solid #bbbbbb;
	background-color: #f7f7f7;
	margin-right: 18px;
	font-size: 20px;
	outline: none;
	opacity: 0.3;
}

#score {
	line-height: 100%;
	color: #66b3ad;
	font-family: "pbSemiBold",Helvetica,Arial,sans-serif;
	margin-bottom: 20px;
	font-size: 4em;
}

.test-img-answer {
	width: 250px;
	height:230px;
}

.test-img-answer-3 {
	width: 180px;
	height:180px;
}

.test-img-answer-4 {
	width: 140px;
	height:180px;
}

.front iframe {
	width:100%;
	height:100%;
	position:absolute;
}

.vote {
	float:left;
	margin-top:9px;
	margin-right: 10px;
}

.vote b {
	line-height:32px;
}

.vote .vote-button {
	border: 0;
    background-image: url(/img/arrow_up.png);
    background-repeat: no-repeat;
	background-size: 15px;
	cursor:pointer;
	float:left;
	background-position:center;
	border-radius:3px;
	width:42px;
	height:41px;
	background-color:#c2d0e9;
}

.vote .vote-button:hover {
	background-color:#6e8dc9;
}